<launch>
  <param name="robot_description"
    command="$(find xacro)/xacro '$(find waver_description)/urdf/waver.urdf'" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find waver_description)/rviz/waver.rviz" />
</launch>
