<launch>
    <param name="robot_description"
        command="$(find xacro)/xacro '$(find waver_description)/urdf/waver.urdf'" />
    <node name="gazebo" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model waver" />
    <node name="gazebo" pkg="gazebo_ros" type="gzserver" args="worlds/empty.world" />
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" />
</launch>
