<launch>
    <arg name="map_file" default="$(find waver_nav)/maps/coworking_map.yaml" />
    <arg name="model" default="$(find waver_description)/urdf/waver.xacro" />
    <arg name="rviz_config" default="$(find waver_nav)/rviz/waver.rviz" />
    <arg name="gui" default="true" />

    <arg name="world_name" default="$(find waver_gazebo)/world/coworking.world" />

    <!-- Gazebo launch -->
    <include file="$(find waver_gazebo)/launch/gazebo.launch">
        <arg name="world_name" value="$(arg world_name)" />
    </include>

    <!-- Map server launch -->
    <include file="$(find waver_nav)/launch/map_server.launch">
        <arg name="map_file" value="$(arg map_file)" />
    </include>

    <!-- Rviz launch -->
    <include file="$(find waver_viz)/launch/rviz.launch">
        <arg name="model" value="$(arg model)" />
        <arg name="rviz_config" value="$(arg rviz_config)" />
        <arg name="gui" value="$(arg gui)" />
    </include>

    <!-- AMCL launch -->
    <include file="$(find waver_nav)/launch/amcl.launch" />

</launch>
