<launch>
    <arg name="base_global_planner" default="global_planner/GlobalPlanner" />
    <arg name="base_local_planner" default="teb_local_planner/TebLocalPlannerROS" />
    <arg name="global" default="base" />
    <arg name="local" default="teb" />
    
    <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
        <param name="base_global_planner" value="$(arg base_global_planner)" />
        <param name="base_local_planner" value="$(arg base_local_planner)" />
        <rosparam command="load" file="$(find waver_nav)/param/global_planner_$(arg global).yaml" />
        <rosparam command="load" file="$(find waver_nav)/param/local_planner_$(arg local).yaml" />
        <rosparam command="load" file="$(find waver_nav)/param/costmap_common.yaml" ns="local_costmap" />
        <rosparam command="load" file="$(find waver_nav)/param/costmap_common.yaml" ns="global_costmap" />
        <rosparam command="load" file="$(find waver_nav)/param/costmap_global.yaml" />
        <rosparam command="load" file="$(find waver_nav)/param/costmap_local.yaml" />
        <rosparam command="load" file="$(find waver_nav)/param/move_base.yaml" />
    </node>
</launch>
