<launch>
    <arg name="map_file" value="$(find waver_nav)/maps/coworking_map.yaml" />
    <arg name="model" default="$(find waver_description)/urdf/waver.xacro" />
    <arg name="rviz_config" default="$(find waver_nav)/rviz/waver.rviz" />
    <arg name="gui" default="true" />

    <arg name="base_global_planner" default="global_planner/GlobalPlanner" />
    <arg name="base_local_planner" default="teb_local_planner/TebLocalPlannerROS" />
    <arg name="global" default="base" />
    <arg name="local" default="teb" />

    <!-- Gazebo launch -->
    <include file="$(find waver_gazebo)/launch/gazebo.launch" />

    <!-- Map server launch -->
    <include file="$(find waver_nav)/launch/map_server.launch">
        <arg name="map_file" value="$(arg map_file)" />
    </include>

    <!-- Rviz launch -->
    <include file="$(find waver_viz)/launch/rviz.launch">
        <arg name="model" value="$(arg model)" />
        <arg name="rviz_config" value="$(arg rviz_config)" />
        <arg name="gui" value="$(arg gui)" />
    </include>

    <!-- AMCL launch -->
    <include file="$(find waver_nav)/launch/amcl.launch" />

    <!-- Move base launch -->
    <include file="$(find waver_nav)/launch/move_base.launch" >
        <arg name="base_global_planner" value="$(arg base_global_planner)" />
        <arg name="base_local_planner" value="$(arg base_local_planner)" />
        <arg name="global" value="$(arg global)" />
        <arg name="local" value="$(arg local)" />
    </include>
</launch>
