<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="inertial_wheel">

    <xacro:include filename="$(find waver_description)/urdf/util.xacro"/>

    <xacro:macro name="inertial_wheel">
        <inertial>
            <mass value="${wheel_mass}" />
            <origin xyz="${triple_zero}" rpy="${triple_zero}" />
            <inertia  ixx="${Ixx_wheel}" ixy="0" ixz="0" iyy="${Iyy_wheel}" iyz="0" izz="${Izz_wheel}" />
        </inertial>
    </xacro:macro>

</robot>
