<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="waver_utils">

    <xacro:property name="triple_zero" value="0 0 0" />
    <xacro:property name="scale" value="0.001 0.001 0.001" />
    <xacro:property name="pi" value="3.14159265" />

    <!-- Wheel specifications -->

</robot>
