<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="utils">

    <xacro:property name="triple_zero" value="0 0 0" />
    <xacro:property name="pi" value="3.14159265" />

    <!-- Wheel specifications -->
    <xacro:property name="wheel_radius" value="0.1651" />
    <xacro:property name="wheel_length" value="0.1143" />
    <xacro:property name="wheel_mass" value="0.5" />
    <xacro:property name="Iz_wheel" value="${0.5*wheel_mass*wheel_radius*wheel_radius}" />
    <xacro:property name="I_wheel" value="${-(1/12)*wheel_mass*(3*wheel_radius*wheel_radius+wheel_length*wheel_length)}" />

    <!-- Base link specifications -->
    <xacro:property name="base_mass" value="0.75" />
    <xacro:property name="base_x_len" value="0.5120" />
    <xacro:property name="base_y_len" value="0.5708" />
    <xacro:property name="base_h_len" value="0.03282" />

    <!-- Top shell specifications -->
    <xacro:property name="top_mass" value="0.5" />

</robot>
