<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="waver">

    <xacro:include filename="$(find waver_description)/urdf/materials.xacro"/>
    <xacro:include filename="$(find waver_description)/urdf/wheel.xacro" />
    <xacro:include filename="$(find waver_description)/urdf/util.xacro"/>

    <!-- ========= Links ========= -->

    <!-- Base Footprint -->
    <link name="base_footprint"> </link>

    <!-- Base Link -->
    <link name="base_link">
        <visual>
            <geometry>
                <mesh filename="package://waver_description/meshes/base_link_husky.stl" scale="1 1 1" />
            </geometry>
            <xacro:white_material />
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://waver_description/meshes/base_link_husky.stl" scale="1 1 1" />
            </geometry>
        </collision>
        <inertial>
            <mass value="${base_mass}" />
            <origin xyz="${triple_zero}" rpy="${triple_zero}" />
            <inertia ixx="${Ixx_base}" ixy="0.0" ixz="0.0" iyy="${Iyy_base}" iyz="0.0" izz="${Izz_base}" />
        </inertial>
    </link>

    <!-- Top Shell -->
    <link name="top_shell_link">
        <visual>
            <geometry>
                <mesh filename="package://waver_description/meshes/top_plate_husky.stl" scale="1 1 1" />
            </geometry>
            <xacro:gray_material />
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://waver_description/meshes/top_plate_husky.stl" scale="1 1 1" />
            </geometry>
        </collision>
        <inertial>
            <mass value="${top_mass}" />
            <origin xyz="${triple_zero}" rpy="${triple_zero}" />
            <inertia ixx="${Ixx_top}" ixy="0.0" ixz="0.0" iyy="${Iyy_top}" iyz="0.0" izz="${Izz_top}" />
        </inertial>
    </link>

    <!-- ========= Joints ========= -->

    <!-- Joint between base_footprint and base_link -->
    <joint name="base_joint" type="fixed">
        <parent link="base_footprint" />
        <child link="base_link" />
        <origin xyz="0 0 ${-(base_h - wheel_radius)}" rpy="0 0 0" />
    </joint>

    <!-- Joint between base_link and top_shell_link -->
    <joint name="base_to_top_joint" type="fixed">
        <parent link="base_link" />
        <child link="top_shell_link" />
        <origin xyz="0 0 0.225" rpy="0 0 0" />
    </joint>

    <!-- Wheels -->
    <xacro:wheel prefix="wheel_front" suffix="left" xyz="${base_x/2} ${base_y/2} ${base_h}" rpy="0 0 0" />
    <xacro:wheel prefix="wheel_front" suffix="right" xyz="${base_x/2} ${-(base_y/2)} ${base_h}" rpy="0 0 0" />
    <xacro:wheel prefix="wheel_back" suffix="left" xyz="${-(base_x/2)} ${base_y/2} ${base_h}" rpy="0 0 0" />
    <xacro:wheel prefix="wheel_back" suffix="right" xyz="${-(base_x/2)} ${-(base_y/2)} ${base_h}" rpy="0 0 0" />

    <!-- Gazebo -->

    <gazebo reference="top_shell_link">
        <mu1 value="1.0" />
        <mu2 value="1.0" />
        <kp value="100000.0" />
        <kd value="10.0" />
        <material>Gazebo/Gray</material>
    </gazebo>

    <gazebo reference="base_link">
        <mu1 value="1.0" />
        <mu2 value="1.0" />
        <kp value="100000.0" />
        <kd value="10.0" />
        <material>Gazebo/White</material>
    </gazebo>

    <gazebo>
        <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
            <robotNamespace></robotNamespace>
            <updateRate>100.0</updateRate>
            <leftFrontJoint>wheel_front_left_joint</leftFrontJoint>
            <rightFrontJoint>wheel_front_right_joint</rightFrontJoint>
            <leftRearJoint>wheel_back_left_joint</leftRearJoint>
            <rightRearJoint>wheel_back_right_joint</rightRearJoint>
            <wheelSeparation>${base_y}</wheelSeparation>
            <wheelDiameter>${2*wheel_radius}</wheelDiameter>
            <torque>100.0</torque>
            <commandTopic>cmd_vel</commandTopic>
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <robotBaseFrame>base_footprint</robotBaseFrame>
            <publishWheelTF>true</publishWheelTF>
            <publishOdom>true</publishOdom>
            <publishWheelJointState>true</publishWheelJointState>
            <covariance_x>0.0001</covariance_x>
            <covariance_y>0.0001</covariance_y>
            <covariance_yaw>0.01</covariance_yaw>
            <broadcastTF>true</broadcastTF>
        </plugin>
    </gazebo>

</robot>
