<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="waver">

    <!-- ========= Define Materials ========= -->

    <material name="gray">
        <color rgba="0.5 0.5 0.5 1" />
    </material>
    <material name="black">
        <color rgba="0 0 0 1" />
    </material>
    <material name="white">
        <color rgba="1 1 1 1" />
    </material>

    <xacro:include filename="$(find waver_description)/urdf/waver.xacro" />

    <!-- ========= Links ========= -->

    <!-- Base Footprint -->
    <link name="base_footprint"> </link>

    <!-- Base Link -->
    <link name="base_link">
        <visual>
            <geometry>
                <mesh filename="package://waver_description/meshes/base_link_husky.stl"
                    scale="1 1 1" />
            </geometry>
            <material name="white" />
        </visual>
        <collision>
            <geometry>
                <box size="0.5 0.3 0.02" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.6" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" />
        </inertial>
    </link>

    <!-- Top Shell -->
    <link name="top_shell_link">
        <visual>
            <geometry>
                <mesh filename="package://waver_description/meshes/top_plate_husky.stl"
                    scale="0.8 0.8 0.8" />
            </geometry>
            <material name="gray" />
        </visual>
        <collision>
            <geometry>
                <box size="0.5 0.3 0.02" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.5" />
            <origin xyz="0 0 0.1" rpy="0 0 0" />
            <inertia ixx="0.05" ixy="0.0" ixz="0.0" iyy="0.05" iyz="0.0" izz="0.05" />
        </inertial>
    </link>

    <!-- ========= Joints ========= -->

    <!-- Joint between base_footprint and base_link -->
    <joint name="base_joint" type="fixed">
        <parent link="base_footprint" />
        <child link="base_link" />
        <origin xyz="0 0 0.16" rpy="0 0 0" />
    </joint>

    <!-- Joint between base_link and top_shell_link -->
    <joint name="base_to_top_joint" type="fixed">
        <parent link="base_link" />
        <child link="top_shell_link" />
        <origin xyz="0 0 0.225" rpy="0 0 0" />
    </joint>

    <!-- Wheels -->
    <xacro:wheel prefix="wheel_front" suffix="left" xyz="0.25 0.275 0" rpy="0 0 0" />
    <xacro:wheel prefix="wheel_front" suffix="right" xyz="0.25 -0.275 0" rpy="0 0 0" />
    <xacro:wheel prefix="wheel_back" suffix="left" xyz="-0.25 0.275 0" rpy="0 0 0" />
    <xacro:wheel prefix="wheel_back" suffix="right" xyz="-0.25 -0.275 0" rpy="0 0 0" />

    <!-- Gazebo plugin for ROS Control -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
        </plugin>
    </gazebo>

</robot>